* {
  margin: 0px;
  padding: 0;
  background-color: white;
  font-family: roboto;
}

h1 {
  padding: 30px;
  background-color: lightsteelblue;
  color: white;
}

h2{
  margin: 25px 30px;
}

li {
  margin: 40px 100px;
}